<div style="height: 100%; background-color: green;">
    <mat-drawer-container class="example-container" style="height: 100%;" [hasBackdrop]="drop">
        <mat-drawer #drawer mode="side" style="width: 300px;">
            <div>
                <mat-list>
                    <mat-list-item (onclick)="drawer.close()" class="item">
                        <mat-icon>add</mat-icon>New Note</mat-list-item>
                    <mat-list-item (onclick)="drawer.close()" class="item">
                        <mat-icon>add</mat-icon>View Notes</mat-list-item>
                    <mat-list-item (onclick)="drawer.close()" class="item">
                        <mat-icon>settings</mat-icon>Settings</mat-list-item>
                </mat-list>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <button mat-icon-button (click)="drawer.toggle()"><mat-icon color="primary">reorder</mat-icon></button>
            <mat-card style="width: 50%;">
                <mat-card-title>
                    <span>
                        <mat-icon style="font-size: 60px;">account_circle</mat-icon> <br>
                         Sign In</span>
                </mat-card-title>
            </mat-card>
        </mat-drawer-content>
    </mat-drawer-container>
</div>